footer{
    background-color: rgba(245, 246, 245, 0.941);
    grid-column: 1/-1;
    border-top: 1px solid black;
    margin: 1rem 0px;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 15px;
    text-align: center;
    padding: 35px;
}
.copy{
    margin-top: 1rem;
    text-align: center;
    font-size: 12px;
}
.footer-title, .copy-text{
    color: orange;
}
ul{
    list-style: none;
}
li{
    margin-top: 1rem;
    cursor: pointer;
    font-size: 18px;
}
@media screen and (max-width:564px) {
    .footer-section{
        text-align: start;
    }
}